{% extends 'base.html' %}

{% block title %}Profile - BlogZone{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>User Profile</h2>
        </div>
        <div class="card-body">
          <h2>Your Profile</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              {{ form.full_name.label_tag }}
              {{ form.full_name }}
            </div>
            <div class="form-group">
              {{ form.email.label_tag }}
              {{ form.email }}
            </div>
            <div class="form-group">
              {{ form.date_of_birth.label_tag }}
              {{ form.date_of_birth }}
            </div>
            <div class="form-group">
              {{ form.address.label_tag }}
              {{ form.address }}
            </div>
            <div class="form-group">
              {{ form.bio.label_tag }}
              {{ form.bio }}
            </div>
            <div class="form-group">
              {{ form.profile_picture.label_tag }}
              {{ form.profile_picture }}
              {% if form.instance.profile_picture %}
                  <img id="image-preview" src="{{ form.instance.profile_picture.url }}" alt="Image Preview" style="max-width: 50%;">
                  <input type="hidden" id="profile-picture-url" value="{{ form.instance.profile_picture.url }}">
              {% else %}
                  <img id="image-preview" src="#" alt="Image Preview" style="max-width: 50%; display: none;">
                  <input type="hidden" id="profile-picture-url" value="">
              {% endif %}
          </div>
            <button type="submit" class="btn btn-primary">Save Profile</button>
          </form>
      
          <!-- Display associated companies -->
          <h3>Admin for Companies:</h3>
          <ul>
            {% for company in user_profile.user.admin_companies.all %}
              <li>
                {% if company.name %}
                  <a href="{% url 'company_detail' company.id %}">{{ company.name }}</a>
                {% else %}
                  Company Name Missing
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    // JavaScript for image preview
    document.addEventListener('DOMContentLoaded', function() {
      const preview = document.getElementById('image-preview');
      const imageUrl = document.getElementById('profile-picture-url').value;

      if (imageUrl) {
        preview.src = imageUrl;
        preview.style.display = 'block';
      }
    });

    document.getElementById('id_profile_picture').addEventListener('change', function(event) {
      const input = event.target;
      const preview = document.getElementById('image-preview');

      if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function(e) {
          preview.src = e.target.result;
          preview.style.display = 'block';
        };

        reader.readAsDataURL(input.files[0]);
      } else {
        preview.src = '';
        preview.style.display = 'none';
      }
    });
  </script>
{% endblock %}
